* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #5a5a5a;
  background-color: rgb(15, 1, 8);
  overflow-x: hidden;
}

input {
  width: 30%;
}

label {
  color: rgb(245, 210, 210);;
  font-size: 2.3rem;
  text-align: left;
  text-shadow: 1px 1px 5px rgb(252, 51, 68);
  width: 20rem;
  font-family: cursive;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  color: #d4daf5;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 5px rgb(22, 85, 100);
}

li {
  color: #becbdd;
  font-size: 1rem;
}

a {
  color: white;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

.button {
  margin: auto;
  max-width: 65%;
  height: 35px;
  font-family: cursive;
  font-size: 20px;
  font-weight: 200;
}



.hero {
  display: block;
  padding-bottom: 100px;
  height:auto;
  width: 100%;

}

.section-heading {
  font-size: 3.8em;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(245, 210, 210);
  text-shadow: 3px 3px 10px rgb(252, 51, 68);
}

.section-subheading {
  color: rgb(245, 210, 210);
  font-size: 3em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 3px 3px 10px rgb(252, 51, 68);
}
.section-description {
  margin-bottom: 3rem;
  text-align: center;
}


.section-divider {
  margin: 2rem auto;
  opacity: 0.75;
  text-align: center;
}



.subsection-heading {
  color: rgb(245, 210, 210);
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 3px 3px 10px rgb(252, 51, 68);
}

.textfield {
  margin: auto;
  width: 70%;
  height: 35px;
}

#query-form {
  margin: auto;
  max-width: 85%;
}

.results-div{
  color: rgb(209, 209, 13);
  background-color: rgb(153, 4, 12);
}

@media only screen and (max-width: 767px) {

  .button {
    max-width: 100%;
  }

  .textfield {
    margin: auto;
    width: 90%;
  }

}
